**JSON**

In [ ]:
import json

title=[]
actors=[]
director=[]
gnre=[]

f = open('metadata.json')

data = [json.loads(line) for line in f]

for i in range(len(data)):
  title.append(data[i]['title'])
  actors.append(data[i]['starring'])
  director.append(data[i]['directedBy'])


f.close

In [ ]:
for index, item in enumerate(actors):
    if type(item) != str:
      if item.isnan():
        actors[index] = "No one listed"
    elif item == "":
        actors[index] = "No one listed"

In [ ]:
for index, item in enumerate(director):
    if type(item) != str:
      if item.isnan():
        director[index] = "No one listed"
    elif item == "":
        director[index] = "No one listed"

In [ ]:
director[3700:3750]

In [ ]:
import pandas as pd

# movieLens_df = pd.DataFrame (title, columns = ['Title'])
# movieLens_df = pd.DataFrame (director, columns = ['Director'])

products_list = [title,director,actors]

movieLens_df = pd.DataFrame (products_list).transpose()
movieLens_df.columns = ['title', 'Director','Actors']


movieLens_df.head()

**Construct Genre dataset**

In [ ]:
import csv
import pandas as pd

movies_df = pd.read_csv('movies.csv', usecols = ['title','genres'])

movies_df.head()

In [ ]:
fullset_df = pd.merge(movies_df,movieLens_df,on='title')

In [ ]:
fullset_df.head()

In [ ]:
fullset_df=fullset_df.rename(columns={"title": "Title", "genres": "Genre"})

In [ ]:
fullset_df['Title'][0]=='Toy Story (1995)'

In [ ]:
fullset_df.to_csv('fullset.csv')

**Fix empty data**

In [ ]:
df = pd.read_csv('fullset.csv', usecols=['Title','Genre','Director','Actors'])

In [ ]:
df.head()

,Title,Genre,Director,Actors
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,..."
1,Jumanji (1995),Adventure|Children|Fantasy,Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,..."
2,Grumpier Old Men (1995),Comedy|Romance,Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop..."
3,Waiting to Exhale (1995),Comedy|Drama|Romance,Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto..."
4,Father of the Bride Part II (1995),Comedy,Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb..."

In [ ]:
df.Genre

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
62669                                          Drama
62670                                    Documentary
62671                                   Comedy|Drama
62672                             (no genres listed)
62673                         Action|Adventure|Drama
Name: Genre, Length: 62674, dtype: object

In [ ]:
df = df[df.Genre != '(no genres listed)']

In [ ]:
df = df[df.Actors != 'No one listed']

In [ ]:
df = df[df.Director != 'No one listed']

In [ ]:
len(df)

53858

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.drop(columns = 'index', inplace=True)

In [ ]:
df

,Title,Genre,Director,Actors
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,..."
1,Jumanji (1995),Adventure|Children|Fantasy,Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,..."
2,Grumpier Old Men (1995),Comedy|Romance,Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop..."
3,Waiting to Exhale (1995),Comedy|Drama|Romance,Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto..."
4,Father of the Bride Part II (1995),Comedy,Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb..."
...,...,...,...,...
53853,Santosh Subramaniam (2008),Action|Comedy|Romance,M. Raja,"Jayam Ravi,Genelia D'Souza,Prakash Raj,Sayaji ..."
53854,We (2018),Drama,Rene Eller,"Pauline Casteleyn,Aimé Claeys,Gaia Sofia Cozij..."
53855,Window of the Soul (2001),Documentary,João Jardim,"José Saramago,Marieta Severo,Agnès Varda,Wim W..."
53856,Bad Poems (2018),Comedy|Drama,Gábor Reisz,"Gábor Reisz,Katica Nagy,Niels Schneider,Zsolt ..."
53857,Women of Devil's Island (1962),Action|Adventure|Drama,Domenico Paolella,"Guy Madison,Michèle Mercier,Federica Ranchi,Ma..."

In [ ]:
df.to_csv('fullset_clean.csv')